@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Libre+Franklin:wght@100;300;600&family=Poppins:wght@200;300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "poppins", sans-serif;
  background-color: #fff
}

.container{
  max-width: 80%;
  margin: auto ;
}

.flex{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

a{
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
}

ul{
  list-style-type: none;
}

button{
  border-radius: 5px;
  padding: 17px 30px;
  background-color: #27ae60;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
}

button i{
  margin-right: 5px;
}
